@inject NavigationManager NavigationManager
@using static FinalTestProject.Models.Constants;
@using FinalTestProject.Data;
@using Microsoft.EntityFrameworkCore
@page "/"


<PageTitle>Login</PageTitle>

@inject IDbContextFactory<UbysSystemDbContext> UbysSystemDbContext;

<div class="d-flex justify-content-center">
    <h1>UBYS Sistemine Hosgeldiniz</h1>
</div>

<div class="d-flex justify-content-center"> Giris yapiniz </div>

<text> &nbsp; &nbsp; &nbsp;</text>

<div class="d-flex justify-content-center">
    Kimlik No: <input type="number" inputmode="numeric" pattern="[0-9]*" @bind="UserKimlikNo" />
</div>

<div style="margin-top: 20px;" class="form-group password-container d-flex justify-content-center">
    <label for="passwordInput">Password:</label>
    <input type="password" id="passwordInput" @bind="Password" />
</div>

<div style="margin-top: 20px;" class="d-flex justify-content-center">
    <button type="button" @onclick="LoginControl">Login</button>
</div>

<!-- Hata mesajını göstermek için eklenen kısım -->
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div style="color: red; margin-top: 20px;" class="d-flex justify-content-center">
        @errorMessage
    </div>
}

<text> &nbsp; &nbsp; &nbsp;</text>

@if (@OgrenciList is not null && @OgrenciList.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered table-light border-dark">
            <thead>
                <tr>
                    <th scope="col">TCKimlikNo</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Password</th>
                    <th scope="col">UyelikType</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var Hesap in @HesapList)
                {
                    <tr>
                        <th scope="row">@Hesap.TCKimlikNo</th>
                        <td>@Hesap.Ad</td>
                        <td>@Hesap.Password</td>
                        <td>@Hesap.UyelikType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}