@inherits LayoutComponentBase
@page "/Pages/OENotGir"
@using FinalTestProject.Services

@inject NavigationManager NavigationManager

@if (SessionState.IsAuthenticated)
{
    <div class="ogretimElemani-layout">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand">OgretimElemaniPage</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/OgretimElemaniLayout">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Pages/OENotGir">Not Girme</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Pages/OgretimElemaniDersGor">Dersleri Gör</NavLink>
                    </li>
                    <li class="nav-item">
                        <LogoutComponent />
                    </li>
                </ul>
            </div>
        </nav>

        <header>
            <h1>Not Girme</h1>
        </header>

        <div style ="margin-bottom: 20px;">
            <label for="derslerDropdown">Ders Seç:</label>
            <select id="derslerDropdown" @onchange="DersSecildi">
                <option value="">Ders Seçiniz</option>
                @foreach (var ders in TanimliDersler)
                {
                    <option value="@ders.DersKodu">@ders.DersKodu: @ders.DersAdi</option>
                }
            </select>
        </div>

        <!-- Ders notu listesi -->
        @if (SecilenDersinNotlari != null && SecilenDersinNotlari.Any())
        {
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered table-light border-dark">
                    <thead>
                        <tr>
                            <th scope="col">Ogrenci Tc</th>
                            <th scope="col">Ogrenci Adi</th>
                            <td scope="col">Vize Notu</td>
                            <th scope="col">Final Notu</th>
                            <th scope="col">Harf Notu</th>
                            <th scope="col">Yoklama Durumu</th>
                            <th scope="col">Basari Durumu</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dersNotu in SecilenDersinNotlari)
                        {
                            <tr>
                                <td>@dersNotu.OgrenciTc</td>
                                <td>@dersNotu.Ogrenci.Ad</td>
                                <td>@dersNotu.AraSinav.ogr_not</td>
                                <td>@dersNotu.FinalSinav.ogr_not</td>
                                <td>@dersNotu.HarfNotu</td>
                                <td>@(dersNotu.YoklamaDurumu == 1 ? "Devamli" : "Devamsiz")</td>
                                <td>@dersNotu.basari_durumu</td>
                                <td><button type="submit" @onclick="() => DersNotuSecildi(dersNotu.Id)">Not Gir</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (secilenDersNotu != null)
        {
            <div style="margin-bottom: 20px; text-align: center;">
                <h4>Secilen Ders: @secilenDersNotu.Ders.DersAdi</h4>
                <h4>Dersin Kodu: @secilenDersNotu.Ders.DersKodu</h4>
            </div>
            <div style="margin-top: 20px; text-align: center;">
                <h4>Ogrenci Adi: @secilenDersNotu.Ogrenci.Ad</h4>
                <form @onsubmit="Kaydet">
                    <div style="margin-bottom: 10px;">
                        <label for="araSinavNotu">Ara Sýnav Notu:</label>
                        <input type="number" id="araSinavNotu" @bind="secilenDersNotu.AraSinav.ogr_not" />
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label for="finalNotu">Final Notu:</label>
                        <input type="number" id="finalNotu" @bind="secilenDersNotu.FinalSinav.ogr_not" />
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label>Devamli ise 1, devamsiz ise 0 giriniz: </label>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label for="devamDurumu">Devam Durumu:</label>
                        <input type="number" id="devamDurumu" @bind="@secilenDersNotu.YoklamaDurumu" />
                    </div>
                    <div class="form-group" style="text-align: center; margin-top: 10px">
                        <button type="submit" >Güncelle</button>
                    </div>
                </form>
            </div>
        }
    </div>

    
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div style="color: red; margin-top: 20px;" class="d-flex justify-content-center">
            @errorMessage
        </div>
    }
}
else
{
    <Login />
}



