@inherits LayoutComponentBase
@page "/Pages/OgrenciDersSecimi"
@using FinalTestProject.Services
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<UbysSystemDbContext> UbysSystemDbContext;
@inject NavigationManager NavigationManager

@if (SessionState.IsAuthenticated)
{
    <div class="ogrenci-layout">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand">OgrenciPage</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/OgrenciLayout">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Pages/OgrenciDers">Dersler</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/Pages/OgrenciDersSecimi">Ders Secimi</NavLink>
                    </li>
                    <li class="nav-item">
                        <LogoutComponent />
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Common header or navigation -->
        <header>
            <h1>Ders Secimini buradan yapabilirsin, @Ogrenci.Ad.</h1>
            <h2>Guncel Donem: @Ogrenci.Donem Yariyil: @Ogrenci.Yariyil</h2>
            <h2>Danisman Adi: @Ogrenci.OgrDanisman.Ad</h2>

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div style="color: red; margin-top: 20px;" class="d-flex justify-content-center">
                    @errorMessage
                </div>
            }

            @if (DersList != null && (DersList.Any() || DersSecimi is not null))
            {
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered table-light border-dark">
                        <thead>
                            <tr>
                                <th scope="col">Ders Kodu</th>
                                <th scope="col">Ders Adi</th>
                                <th scope="col">Dersi Veren</th>
                                <th scope="col">AKTS</th>
                                <th scope="col">Ders Saati</th>
                                <th scope="col">Dersin Yariyili</th>
                                <th scope="col">AddStatus</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ders in DersList)
                            {
                                <tr>
                                    <td>@ders.DersKodu</td>
                                    <td>@ders.DersAdi</td>
                                    <td>@ders.OgretimElemani.Ad</td>
                                    <td>@ders.AKTS</td>
                                    <td>@ders.SaatCount</td>
                                    <td>@ders.Yariyil</td>
                                    <div class="d-grid gap-2 d-md-block mt-2">
                                        <Button Type="ButtonType.Submit" Color="ButtonColor.Primary" @onclick="() => OnClickAddButton(ders)" Disabled="@ders.IsDersAdded"> @(ders.IsDersAdded == true ? "Added" : "Add")</Button>
                                    </div>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


                @if (DersSecimi is not null) { 
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered table-light border-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Ders Kodu</th>
                                    <th scope="col">Ders Adi</th>
                                    <th scope="col">AKTS</th>
                                    <th scope="col">Ders Saati</th>
                                    <th scope="col">Dersin Yariyili</th>
                                    <th scope="col">RemoveDers</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                @foreach (var ders in DersSecimi.DersList)
                                {
                                    <tr>
                                        <td>@ders.DersKodu</td>
                                        <td>@ders.DersAdi</td>
                                        <td>@ders.AKTS</td>
                                        <td>@ders.SaatCount</td>
                                        <td>@ders.Yariyil</td>
                                        <div class="d-grid gap-2 d-md-block mt-2">
                                            <Button Type="ButtonType.Submit" Color="ButtonColor.Danger" @onclick="() => RemoveDersFromSecim(ders)"> Remove</Button>
                                        </div>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if(DersSecimi.DersList.Count > 0)
                        {
                            <div class="d-grid gap-2 d-md-block mt-2">
                                <Button Type="ButtonType.Submit" Color="ButtonColor.Success" @onclick="() => AddDersSecimi()" Disabled="@(IsAKTSExceeded || IsSecimSent)"> Danismana Gonder</Button>
                            </div>
                        }
                    </div>
                }
            }
            else
            {
                <p>Henuz size bir ders atanmamis...</p>
            }
        </header>

    </div>
}
else
{
    <Login />
}
